<h4><small class="text-muted">1/4</small> Event Info</h4>

<input [(ngModel)]="employeeName" class="full-width" placeholder="Employee Name">

<input [(ngModel)]="recapDate" class="full-width" placeholder="Date">

<input [(ngModel)]="employeeHours" class="full-width" placeholder="Employee Hours">

<input [(ngModel)]="storeNum" class="full-width" placeholder="Store Number">

<input [(ngModel)]="storeContact" class="full-width" placeholder="Store Contact/Title">

<input [(ngModel)]="demoLocation" class="full-width" placeholder="Demo Location in Store">

<input [(ngModel)]="demoCompany" class="full-width" placeholder="Demo Company">

<input [(ngModel)]="storeName" class="full-width" placeholder="Store Name">

<input [(ngModel)]="storeAddress" class="full-width" placeholder="Store Address">

<input [(ngModel)]="distributor" class="full-width" placeholder="Distributor">
<input [(ngModel)]="storeName" class="full-width" placeholder="Store Name">
<!--
<input type="radio" name="traffic">Light</input>
<input type="radio" name="traffic">Medium</input>
<input type="radio" name="traffic">Heavy</input>-->

<div class="list-group-item">
  <button (click)="showNext()" class="primary">Next</button>
</div>