<!--
@Author: Phillip Curl <PC>
@Date:   2016-05-13T21:21:49-04:00
@Email:  phillipcurl@gmail.com
@Project: Libations-Portal
@Last modified by:   PC
@Last modified time: 2016-05-13T21:26:21-04:00
-->

<div class="container-fluid p-y-2">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-block">
          <h2 class="card-title">Welcome, Person's Name.</h2>
          <h5 class="card-subtitle text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
        </div>
        <div class="list-group list-group-flush">
          <div class="list-group-item">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam illo repellendus minus, repudiandae neque eius pariatur aliquam ipsa vitae ratione quam quod expedita aspernatur odio a. Accusamus rem vel quod.
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <!-- @TODO: It would be really cool if this just displayed a nice, random image with an overlay of 
                    the user's initials, as we probably don't want to deal with profile picture uploads -->
        <div class="list-group-item text-xs-center"><img src="https://placem.at/places?w=200&h=200&random=2" alt="Card image cap" class="img-circle img-fluid p-y-2"></div>
        <div href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        </div>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        </a>
      </div>
    </div>  
  </div>
</div>
