<div class="row">
  <div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="banner">
      <div class="large-banner-wrapper">
        <img src="{{ ( 'app/typography/banner.png' | appPicture ) }}" alt="" />
      </div>
      <div class="banner-text-wrapper">
        <div class="credentials-section">
          <button routerLink="/login" class="btn btn-default btn-lg">Login</button>
          <button routerLink="/register" class="btn btn-primary btn-lg">Sign Up</button>
        </div>
        <div class="banner-text">
          <h1>Welcome to Libations</h1>
          <!--<p>A little subtitle yada, yada</p>-->
          <!--<p>One more if needed...</p>-->
        </div>
      </div>
    </div>
    <div class="section">
      <h2>Columns</h2>

      <div class="row">
        <div class="col-sm-6">
          <div class="img-wrapper"><img src="{{ ( 'app/typography/typo03.png' | appPicture ) }}" alt="" title="" />
          </div>
          <p>Vel elit, eros elementum, id lacinia, duis non ut ut tortor blandit. Mauris <a href>dapibus</a> magna rutrum. Ornare
            neque suspendisse <a href>phasellus wisi</a>, quam cras pede rutrum suspendisse, <a href>felis amet eu</a>. Congue
            magna elit quisque quia, nullam justo sagittis, ante erat libero placerat, proin condimentum consectetuer lacus.
            Velit condimentum velit, sed penatibus arcu nulla.</p>
        </div>
        <div class="col-sm-6">
          <div class="img-wrapper"><img src="{{ ( 'app/typography/typo01.png' | appPicture ) }}" alt="" title="" />
          </div>
          <p>Et suspendisse, adipiscing fringilla ornare sit ligula sed, vel nam. Interdum et justo nulla, fermentum lobortis
            purus ut eu, duis nibh dolor massa tristique elementum, nibh iste potenti risus fusce aliquet fusce, ullamcorper
            debitis primis arcu tellus vestibulum ac.</p>
        </div>
      </div>

      <div class="separator"></div>

      <div class="row">
        <div class="col-sm-4">
          <h4>Column heading example</h4>
          <div class="img-wrapper"><img src="{{ ( 'app/typography/typo04.png' | appPicture ) }}" alt="" /></div>
          <p>Eget augue, lacus erat ante egestas scelerisque aliquam, metus molestie leo in habitasse magna maecenas
          </p>
          <a href class="learn-more">Learn more</a>
        </div>
        <div class="col-sm-4">
          <h4>Yet another column heading example</h4>
          <div class="img-wrapper"><img src="{{ ( 'app/typography/typo05.png' | appPicture ) }}" alt="" /></div>
          <p>Augue massa et parturient, suspendisse orci nec scelerisque sit, integer nam mauris pede consequat in velit
          </p>
          <a href class="learn-more">Learn more</a>
        </div>
        <div class="col-sm-4">
          <h4>Third column heading example</h4>
          <div class="img-wrapper"><img src="{{ ( 'app/typography/typo06.png' | appPicture ) }}" alt="" /></div>
          <p>Eget turpis, tortor lobortis porttitor, vestibulum nullam vehicula aliquam</p>
          <a href class="learn-more">Learn more</a>
        </div>
      </div>
      <div class="separator"></div>
    </div>
  </div>
</div>