$nav-height: 60px;
$brand-primary: #b56969;
$border-color: $brand-primary;
$input-border-focus: $brand-primary;
$input-box-shadow-focus: $brand-primary;
// $card-border-color: $border-color;
$card-space: 1.5rem;
$card-spacer-x: $card-space;
$card-spacer-y: $card-space;
// $list-group-border-color: $border-color;